@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Give You Glory', cursive;
}

html
{
    background: #0e0e0e;
    overflow: hide;
}

.sections {
    z-index: 1;
    border: 3px solid white;
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 1000vh; */
}

.section-2011 {
    height: 400vh;
    border: 3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    /* padding-top: 15vh; */
}

.section-2011-text {
    border: 3px solid orange;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.section-2011-text h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.section-2011-quote {
    border: 3px solid blueviolet;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-weight: 100;
}

.section-2011-quote img {
    border: 1px solid orange;
}

.section-2011-quote h3 {
    width: 35vw;
    border: 1px solid orange;
    margin: 10px;
}

.section-2011-end {
    border: 3px solid orange;
    height: 1vh;
}

@media (max-width: 1000px) {
    .section-2011-quote {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .section-2011-quote img {
        width: 75vw;
    }

    .section-2011-quote h3 {
        width: 75vw;
    }
    
}

.section-2012 {
    height: 555vh;
    border: 3px solid green;
    display: flex;
    justify-content: center;
}

.section-2012 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.section-2013 {
    height: 555vh;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
}

.section-2013 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
