@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: 'Give You Glory', cursive;
    font-weight: lighter;
    color: white;
}

html
{
    /* background: #0e0e0e; */
    background: black;
    overflow: hide;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide-up {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0%);
    }
}  

.home-page {
    position: absolute;
    /* border: 3px solid yellow; */
    height: 98vh;
    width: 97.5vw;
    font-size: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* justify-content: flex-start; */
    align-items: center;
    opacity: 1;
    transition: opacity ease-out 2500ms;
    z-index: 17;
    margin-top: 0px;
    padding-top: 0px;
}

.home-page-content {
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin: 0% 10% 0% 10%; */
    margin-top: 0px;
    padding-top: 0px;
}

.home-page-content img {
    width: 75%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.launch-experience-btn {
        /* display: inline-block; */
        padding: 10px 20px;
        border: none;
        /* border-radius: 50%; */
        color: white;
        background-color: transparent;
        /* text-decoration: none; */
        text-align: center;
        font-size: 40px;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;
        width: fit-content;
}

.launch-experience-btn:hover {
    color: rgb(148, 148, 148);
}

.quote-preloader {
    position: absolute;
    /* border: 3px solid orange; */
    height: 98vh;
    width: 97.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    opacity: 0;
    transition: opacity ease-out 2500ms;
    z-index: 15;
}

.quote-preloader h3 span {
    opacity: 0;
    transition: opacity ease-out 500ms;
}

#fourteen {
    color: rgb(255, 0, 0);
}

@media (max-width: 1400px) {
    .quote-preloader h3 {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .home-page-content {
        font-size: 20px;
    }

    .launch-experience-btn {
        font-size: 20px;
    }
}

@media (max-width: 700px) {
    .quote-preloader h3 {
        font-size: 16px;
    }
}

@media (max-width: 540px) {
    .quote-preloader h3 {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .home-page-content {
        font-size: 12px;
    }

    .quote-preloader h3 {
        font-size: 10px;
    }
    
    .launch-experience-btn {
        font-size: 14px;
    }
}

.chronicle {
    position: fixed;
    /* border: 3px solid yellow; */
    color: white;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: black;
    /* opacity: 10%; */
    animation: fade-in 1500ms;
    transition: opacity ease-out 1500ms;
    z-index: 13;
    /* overflow-y: scroll; */
    margin: 0px;
    padding: 0px;
}

.chronicle.hide {
    display: none;
    animation: fade-out 1500ms;
}

.chronicle-content {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    height: 95%;
    margin-top: 25%;
    margin-bottom: 25%;
}

.chronicle-content img {
    max-width: 100%;
    object-fit: contain;
    max-height: 35%;
    margin: 5%; 

}

.chronicle-content h3 {
    font-size: 35px;
    text-align: center;
}

.close-chronicle-btn {
    /* display: inline-block; */
    padding: 10px 20px;
    border: none;
    /* border-radius: 50%; */
    color: white;
    background-color: transparent;
    /* text-decoration: none; */
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: fit-content;
}

.chronicle-content button:hover {
    /* background-color: white; */
    color: rgb(174, 174, 174);
}

@media(min-width: 1000px) {
    .chronicle-content img {
        max-height: 50%;
        min-height: 50%;
    }
}

@media (max-width: 1000px) {
    .chronicle-content h3 {
        font-size: 27px;
    }

    .chronicle-content img {

    }

    .close-chronicle-btn {
        margin-top: 25%;
    }
}

@media (max-width: 500px) {
    .close-chronicle-btn {
        margin-top: 10%;
    }
}

.sections {
    z-index: 1;
    /* border: 3px solid white; */
    /* display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 1000vh; */
    opacity: 0;
    transition: opacity ease-out 1500ms;
}

.quote {
    display: flex;
    justify-content: center;
}

.section-2011 {
    height: 700vh;
    /* border: 3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
    /* padding-top: 15vh; */
}

.section-2011-text {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 140vh;

}

.section-2011-text h1 {
    color: white;
    font-size: 134px;
    font-weight: lighter;
}

.section-2011-quote {
    /* border: 3px solid blueviolet; */
    color: white;
    font-size: 35px;
    font-weight: 100;
    width: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.viewport-enter {
    /* border: 3px solid yellow; */
    height: 1vh;
}

.viewport-exit {
    /* border: 3px solid yellow; */
    height: 1vh;
    margin-bottom: 140vh;
}

.section-2011-quote img {
    /* border: 1px solid orange; */
}

.section-2011-quote h3 {
    width: 35vw;
    /* border: 1px solid orange; */
    margin: 10px;

    background: black;
    opacity: 70%;
    padding: 10px;
}

.section-2011-end {
    /* border: 3px solid orange; */
    height: 1vh;
}

@media (max-width: 1000px) {
    .section-2011-quote {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }

    .section-2011-quote img {
        width: 75vw;
    }

    .section-2011-quote h3 {
        width: 75vw;
        font-size: 30px;
    }
    
}

.section-2012 {
    height: 1000vh;
    /* border: 3px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2012-text {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-bottom: 140vh;
}

.section-2012 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.section-2012-end {
    /* border: 3px solid orange; */
    height: 1vh;
}

.section-2013 {
    height: 400vh;
    /* border: 3px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-2013-text {
    /* border: 3px solid orange; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}


.section-2013 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.section-2013-end {
    /* border: 3px solid orange; */
    height: 1vh;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
