@import url('https://fonts.googleapis.com/css2?family=Give+You+Glory&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*
{
    margin: 0;
    padding: 0;
    font-family: "Give You Glory";
}

html,
body
{
    overflow: hide;
}

.sections {
    z-index: 1;
    /* border: 3px solid white; */
}

.section-2011 {
    height: 555vh;
    /* border: 3px solid red; */
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.section-2011 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.section-2012 {
    height: 555vh;
    /* border: 3px solid green; */
    display: flex;
    justify-content: center;
}

.section-2012 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.section-2013 {
    height: 555vh;
    /* border: 3px solid blue; */
    display: flex;
    justify-content: center;
}

.section-2013 h1 {
    color: white;
    font-size: 134px;
    font-weight: 400;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1;
}
